<div class="table-tag-editor">
	<div class="table-tag-editor__toolbar">
		<ul>
			<li class="table-tag-editor__toolbar-tools"></li>
			<li class="table-tag-editor__toolbar-toggle-switch"><button type="button" class="table-tag-editor__btn-toggle-editor-mode">&lt;/&gt;</button></li>
		</ul>
	</div>
	<div class="table-tag-editor__visual-editor">
		<div class="table-tag-editor__visual-editor-table-wrap">
			<table class="table-tag-editor__visual-editor-table">
			</table>
		</div>
		<div class="table-tag-editor__visual-editor-ui">
		</div>
	</div>
	<div class="table-tag-editor__src-editor">
		<textarea class="table-tag-editor__src"></textarea>
	</div>
</div>
