{% if mode == "visual" %}
<ul>
    <li><button type="button" class="table-tag-editor__tool table-tag-editor__tool--btn-add-row-col">{% if main.options('lang') == "ja" %}行列追加{% else %}Add Row/Col{% endif %}</button></li>
    <li><button type="button" class="table-tag-editor__tool table-tag-editor__tool--btn-delete-row-col">{% if main.options('lang') == "ja" %}行列削除{% else %}Delete Row/Col{% endif %}</button></li>
    <li><button type="button" class="table-tag-editor__tool table-tag-editor__tool--btn-merge-cells">{% if main.options('lang') == "ja" %}セル結合{% else %}Merge Cells{% endif %}</button></li>
</ul>
{% endif %}
