{% if mode == "visual" %}
<ul>
    <li><button type="button" class="table-tag-editor__tool table-tag-editor__tool--on table-tag-editor__tool--btn-contents" disabled="disabled">{% if main.options('lang') == "ja" %}内容{% else %}Contents{% endif %}</button></li>
</ul>
{% endif %}
