{% if mode == "visual" %}
<ul>
    <li><button type="button" class="table-tag-editor__tool table-tag-editor__tool--btn-contents">{% if main.options('lang') == "ja" %}内容{% else %}Contents{% endif %}</button></li>
    <li><button type="button" class="table-tag-editor__tool table-tag-editor__tool--btn-delete-row-col">{% if main.options('lang') == "ja" %}行列削除{% else %}Delete Row/Col{% endif %}</button></li>
</ul>
{% endif %}
